@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #f5e6a9;

  --gold: #d4b15a;
  --gold-soft: #f1df9b;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.font-heading {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(212, 177, 90, 0.15);
}